.topsellers {
  grid-column: center-start/ center-end;
  padding-bottom: 7rem;

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
  }
}

.topseller {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($color-secondary-light, 0.2);
  row-gap: 3.5rem;

  &__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  &__name {
    width: 80%;
    justify-self: center;
    align-self: end;

    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 3;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-tertiary;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
  }

  &__location,
  &__artist {
    margin-top: 2.5rem;
  }
  &__location,
  &__artist,
  &__size,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      fill: $color-tertiary;
      height: 2rem;
      width: 2rem;
    }
  }

  &__btn {
    grid-column: 1/-1;
  }
}
.topsellers h3 {
  color: $color-font-secondary;
  text-align: center;
}
